// Obs: lighten/darken(cor, %); para tons claros/escuros e após vírgula indicar porcentagem da tonalidade

//GENERAL
    $text-color-global: #222222;
    $link-color:rgb(66,139,202);
//NAVBAR
    $navbar-text-color: #ffffff;
    
//SOBRE
    $bg-sobre:"url('../img/bg-sobre.jpg')";
    $title-sobre:$text-color-global;

//KANBAN
    $bg-kanban: rgb(66,139,202);
    $title-kanban:#ffffff;
    $bg-activity:#cccccc;
    $text-activity:$text-color-global;

    //cores rgb
    $bg-to-do-rgb:rgb(217, 83, 79);
    $bg-in-progress-rgb:rgb(240, 173, 78);
    $bg-done-rgb:rgb(92, 184, 92);
    $bg-aux-gradient-rgb:rgb(255,255,255);

    //cores hexadecimal
    $bg-to-do-hex:#d9534f; 
    $bg-in-progress-hex:#f0ad4e;
    $bg-done-hex:#5cb85c;
    $bg-aux-gradient-hex:#ffffff;

//SKILLS
//  $bg-skills:#cccccc; Definido com gradiente no mixins
    $title-skills: $text-color-global;

//ATIVIDADES
    $bg-atividades:#0a5085;
    $title-atividades:#ffffff;

//CONTATO
//  $bg-contato:#ffffff; Definido com gradiente no mixins
    $title-contato:$text-color-global;
    $bg-contato-form: #c3c3c3;

//FOOTER
    $bg-footer:#363636;
    $title-footer:#ffffff;
    
