/* O que pode ser aplicado no pai e no filho:

container (pai):
display: flex; flex-direction; justify-content; flex-wrap
flex-flow; align-items; align-content

flex item (filho):
order; flex-grow; flex-shrink; flex-basis
flex; align-self */


/* Cabeçalho */
/* Coloca o que quer no pai de duas ou mais coisas em comum */
.cabecalhoPrincipal .container{
    /* Os filhos ficam com o mesmo tamanho entre si */
    display: flex;
    align-items: center;
    /* Faz com que os elementos filhos sejam divididos e fique um espaço em branco entre eles */
    justify-content: space-between;
}

.cabecalhoPrincipal-nav{
    display: flex;
    /* A margem está no outro arquivo */
}

/* Conteúdo principal */
.conteudoPrincipal-cursos {
	display: flex;
	flex-wrap: wrap;
}

.conteudoPrincipal-cursos-link {
	width: 23%;
	margin: 1%;
}

.conteudoPrincipal-cursos-link:nth-child(4n) {
	margin-right: 0;
}

.conteudoPrincipal-cursos-link:nth-child(4n+1) {
	margin-left: 0;
}

.videoSobre .container{
    display: flex;
}
.videoSobre-sobre{
    text-align: center;
    display: flex;
    flex-direction: column;
    /* Faz uma divisão das partes e distribui de acordo com o número, ex: tem 3 partes, a primeira 
    com 1 e a segunda com 2, então ele vai dividir todo o espaço em 3, ficando a primeira com 1 parte 
    e a segunda com 2 partes*/
    flex-grow: 1;
}

.videoSobre-sobre-list{
    flex-grow: 1;
}

.videoSobre-video{
    flex-grow: 1;
    /* Faz o tamanho diminuir conforme a tela */
    flex-shrink: 2;
}

/* Rodapé */
.rodapePrincipal-patrocinadores .container{
    display: flex;
    /* Coloca um espaçamento ao redor dos filhos */
    justify-content: space-around;
}

.rodapePrincipal-patrocinadores-list{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 70%;
    margin-right: 5%;
}

.rodapePrincipal-contatoForm {
    width: 25%;
}

.rodapePrincipal-contatoForm-fieldset {
    display: flex;
}

.rodapePrincipal-navMap-list{
    display: flex;
    /* Faz com que o flex fique vertical */
    flex-direction: column;
    /* Faz com que ao atingir o tamanho do pai, ele quebre para a próxima coluna */
    /* Pode-se também juntar as duas propriedades, colocando flex-flow: colum wrap; */
    flex-wrap: wrap;
    height: 250px;
}


/* Adaptação para o mobile */
@media(max-width: 768px)
{
    /* Cabeçalho */
    .cabecalhoPrincipal-nav{
        flex-direction: column;
    }

    .cabecalhoPrincipal-nav-link-app{
        /* Coloca para ficar antes de todos os outros, por padrão todos são 0, assim, se quisese mover um item para o fim, bastaria colocar order: 1; */
        order: -1;
    }

    .cabecalhoPrincipal .container{
        flex-direction: column;
        align-items: initial;
        text-align: center;
    }

    /* Conteúdo principal */
    .conteudoPrincipal-cursos{
        flex-direction: column;
    }

    .conteudoPrincipal-cursos-link{
        width: 100%;
    }

    .videoSobre .container{
        flex-direction: column;
    }

    .videoSobre-video{
        margin: .5em auto;
    }

    /* Rodapé */
    .rodapePrincipal-patrocinadores .container{
        flex-direction: column;
        align-items: center;
    }

    .rodapePrincipal-patrocinadores-list{
        margin: 0;
        width: 100%;
    }

    .rodapePrincipal-contatoForm{
        width: 100%;
    }

    .rodapePrincipal-contatoForm-fieldset{
        justify-content: center;
    }

    .rodapePrincipal-navMap-list{
        height: auto;
    }
}