/* BODY */
body {	
	background: #ccc;
	background-image: linear-gradient(to bottom, #ffffff, #cccccc);
	background-repeat: no-repeat;
	font-family: Arial, sans-serif;
	text-decoration: none;
}

/* CONTAINER */
.container{
	width: 940px;
	height: 100%;
	margin: 0 auto;
}

/* HEADER */
header{
	color: #363636;
	height: 200px;	
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);	
}
.name{
	font-weight: bold;
}
.name_result{
	color: #000000;
}
.social_network{
	margin-top: 20px;
	font-weight: bold;
	display: block;
}
.list_social_network{
	list-style-type: none;
	text-transform: none;
	text-align: left;
	padding: 0;
}
.item_social_network{
	display: inline;
}
/* PHOTO */
.profile_photo{
	width: 200px;
	height: 200px;
	padding: 5px;
	background: #fff;
	display: inline-block;
	float: left;
}
.profile_photo img{
	width: 100%;
	height: 100%;
	background: #fff;
}
.profile_informations{
	background: #ffffff;
	background-image: linear-gradient(to right, #ffffff, #ccc);
	width: 710px;
	height: 200px;
	color: #363636;
	padding: 10px 0 0 20px;
	text-align: left;
	display: inline-block;
	position: absolute;
	float: left;	
}
a{
	text-transform: none;
	text-decoration: none;
	color: #000000;
}
h2{
	width: 100%;
	height: 50px;
	color: #4F4F4F;
	padding:  10px 0 0 0;
	margin-bottom: 0;
	text-align: center;	
}

/* FRAME KANBAN */
.profile_frame_kanban {
	width: 100%;
	background: #ccc;
	background-image: linear-gradient(to right, #ffffff, #DCDCDC);
	text-align: center;
	margin-top: 30px;
	padding-bottom: 10px;
	display: block;	
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
/* CARDS KANBAN TITLE */
.card_title{
	width: 250px;
	height: 50px;
	color: #363636;
	font-weight:bold;
	text-align: left;
	padding-left: 10px;
	vertical-align: middle;
	display: table-cell;
}
.title_to_do {	
	background: #fcc;  	
}
.title_in_progress {
	background: #cfc;
}
.title_done{
	background: #ffc;
}
/* CARDS KANBAN */
.card {
	width: 30%;
	height: 250px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	display: inline-block;
	margin: 10px;	
	box-sizing: border-box;		
}
.card_body {
	width: 100%;
	height: 200px;
	overflow-y: scroll;
}
.card_to_do {
	background: #fff0f5;
	background-image: linear-gradient(to right, #ffffff, #fcc);
}
.card_in_progress {
	background: #f0fff0;
	background-image: linear-gradient(to right, #ffffff, #cfc);
}
.card_done{
	background: #fffff0;
	background-image: linear-gradient(to right, #ffffff, #ffc);
}
.activity {
	font-size: 15px;
	padding: 10px;
	border:1px dotted #ccc;
	color: #000;
}
.activity_to_do {	
	border-left: 5px solid #fcc;
	background: #fff0f5;
}
.activity_in_progress {	
	border-left: 5px solid #cfc;
	background: #f0fff0;
}
.activity_done{	
	border-left: 5px solid #ffc;
	background: #fffff0;
}

/* LATEST ACTIVITIES */
.profile_latest_activities {
	width: 100%;
	background: #fff;
	background-image: linear-gradient(to right, #ffffff, #DCDCDC);
	margin-top: 20px;
	display: inline-block;	
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.last_activity{
	height: 100px;
	color: #000;
	background: #fff;
	border: 1px solid #ccc;
	margin: 20px;
	padding: 10px;	
	text-align: left;
	overflow-y: scroll;
}
.last_activity_body {	
	width: 100%;
	height: 20px;
	border-bottom: 1px dashed #ccc;
	display: inline-block;
}

/* FOOTER */
footer{
	height: 50px;
	margin-top: 20px;
	background:#ccc;
	background-image: linear-gradient(to top, #ccc, #c0c0c0);
	padding: 20px;
}
