@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
.navbar, .card-to-do, .card-in-progress, .card-done {
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0), 0 6px 20px 0 rgba(0, 0, 0, 0.3) !important;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0), 0 6px 20px 0 rgba(0, 0, 0, 0.3) !important; }

@media (min-width: 980px) {
  .container {
    width: 90%; } }
/*--GERAL--*/
body {
  font-size: 1rem;
  font-family: 'Open Sans', "Helvetica", Helvetica, Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  color: #363636; }

.photo {
  border: 1px solid #ccc;
  border-radius: 50%; }

.name h3 {
  font-size: 1.6rem; }
.name h5 {
  font-size: 1rem; }

/*--NAVBAR--*/
.nav-link, .btn-link {
  text-decoration: none !important;
  text-transform: none !important; }

.navbar {
  background-color: #17a2b8 !important; }
  .navbar .navbar-brand {
    color: #ffffff !important; }
  .navbar .nav-link {
    color: #ffffff !important; }

/*--KANBAN--*/
.card-to-do {
  background: #d9534f !important;
  background: linear-gradient(0deg, #d9534f 10%, white 90%) !important;
  background: white !important;
  background: -moz-linear-gradient(0deg, #d9534f 0%, 90%) !important;
  background: -webkit-linear-gradient(0deg, #d9534f 0%, white 90%) !important;
  background: linear-gradient(0deg, #d9534f 0%, white 90%) !important;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=$white-hex,endColorstr=$color-hex,GradientType=1) !important;
  border: 0 !important; }
  .card-to-do .card-header {
    background: #d9534f !important;
    border: 0 !important; }
  .card-to-do .activities {
    height: 200px;
    overflow-y: scroll;
    overflow-x: none;
    -ms-overflow-style: none;
    /* Internet Explorer 10+ */
    scrollbar-width: none;
    /* Firefox */ }
    .card-to-do .activities::-webkit-scrollbar {
      display: none;
      /* Safari and Chrome */ }
    .card-to-do .activities .activity {
      border-radius: 0 !important;
      border-left: 5px solid #d9534f !important;
      cursor: move; }
      .card-to-do .activities .activity .card-header {
        background-color: #ffffff !important; }
      .card-to-do .activities .activity .btn-link {
        color: #363636 !important; }
      .card-to-do .activities .activity:hover {
        transition: 1s all;
        background-color: white !important; }

.card-in-progress {
  background: #f0ad4e !important;
  background: linear-gradient(0deg, #f0ad4e 10%, white 90%) !important;
  background: white !important;
  background: -moz-linear-gradient(0deg, #f0ad4e 0%, 90%) !important;
  background: -webkit-linear-gradient(0deg, #f0ad4e 0%, white 90%) !important;
  background: linear-gradient(0deg, #f0ad4e 0%, white 90%) !important;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=$white-hex,endColorstr=$color-hex,GradientType=1) !important;
  border: 0 !important; }
  .card-in-progress .card-header {
    background: #f0ad4e !important;
    border: 0 !important; }
  .card-in-progress .activities {
    height: 200px;
    overflow-y: scroll;
    overflow-x: none;
    -ms-overflow-style: none;
    /* Internet Explorer 10+ */
    scrollbar-width: none;
    /* Firefox */ }
    .card-in-progress .activities::-webkit-scrollbar {
      display: none;
      /* Safari and Chrome */ }
    .card-in-progress .activities .activity {
      border-radius: 0 !important;
      border-left: 5px solid #f0ad4e !important;
      border-radius: 0 !important;
      border-left: 5px solid #f0ad4e !important;
      cursor: move; }
      .card-in-progress .activities .activity .card-header {
        background-color: #ffffff !important; }
      .card-in-progress .activities .activity .btn-link {
        color: #363636 !important; }
      .card-in-progress .activities .activity:hover {
        transition: 1s all;
        background-color: white !important; }

.card-done {
  background: #5cb85c !important;
  background: linear-gradient(0deg, #5cb85c 10%, white 90%) !important;
  background: white !important;
  background: -moz-linear-gradient(0deg, #5cb85c 0%, 90%) !important;
  background: -webkit-linear-gradient(0deg, #5cb85c 0%, white 90%) !important;
  background: linear-gradient(0deg, #5cb85c 0%, white 90%) !important;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=$white-hex,endColorstr=$color-hex,GradientType=1) !important;
  border: 0 !important; }
  .card-done .card-header {
    background: #5cb85c !important;
    border: 0 !important; }
  .card-done .activities {
    height: 200px;
    overflow-y: scroll;
    overflow-x: none;
    -ms-overflow-style: none;
    /* Internet Explorer 10+ */
    scrollbar-width: none;
    /* Firefox */ }
    .card-done .activities::-webkit-scrollbar {
      display: none;
      /* Safari and Chrome */ }
    .card-done .activities .activity {
      border-radius: 0 !important;
      border-left: 5px solid #5cb85c !important;
      border-radius: 0 !important;
      border-left: 5px solid #5cb85c !important;
      cursor: move; }
      .card-done .activities .activity .card-header {
        background-color: #ffffff !important; }
      .card-done .activities .activity .btn-link {
        color: #363636 !important; }
      .card-done .activities .activity:hover {
        transition: 1s all;
        background-color: white !important; }

/*# sourceMappingURL=index.css.map */
