/* BODY */
body {	
	background: #ccc;
	background-image: linear-gradient(to bottom, #ffffff, #cccccc);
	font-family: 'Open Sans', sans-serif;
	background-repeat: repeat-x;
	text-decoration: none;	
}

/* CONTAINER */
.container{
	width: 940px;
	height: 100%;
	margin: 0 auto;
}

.hide{
	display:none;
}

/* HEADER */
header{
	color: #363636;
	height: 200px;	
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.0), 0 6px 20px 0 rgba(0, 0, 0, 0.19);	
}
/* PHOTO */
.profile_photo{
	width: 200px;
	height: 200px;
	padding: 5px;
	background: #fff;
	display: inline-block;
	position: absolute;
}
.profile_photo img{
	width: 100%;
	height: 100%;
	background: #fff;
}
.profile_informations{
	background: #ffffff;
	background-image: linear-gradient(to right, #ffffff, #ccc);
	width: 100%;
	height: 210px;
	color: #363636;
}
.profile_informations ul{
	width:70%;
	list-style-type: none;
	text-transform: none;
	text-align: left;
	margin:0 auto;
	margin-left: 250px;
	padding: 0;
}
.list_profile{
	text-align: left;
}
.label_name{
	font-weight: bold;
}
.name{
	color: #000000;
}
.label_social_network{
	margin-top: 20px;
	font-weight: bold;
	display: block;
}
.list_social_network{
	list-style-type: none;
	text-transform: none;
	padding: 0;	
	text-align: left;
	display: inline;
	float: left;
}
.item_social_network{
	text-align: left;
	display: inline;
}

a{
	text-transform: none;
	text-decoration: none;
	color: #000000;
}

h2{
	height: 50px;	
	color: #727376;
	padding:  10px 0 0 0;
	margin-bottom: 0;
	text-align: center;	
}

/* FRAME KANBAN */
.profile_frame_kanban {
	width: 100%;
	background: #ccc;
	background-image: linear-gradient(to right, #ffffff, #DCDCDC);
	text-align: center;
	margin-top: 30px;
	padding-bottom: 10px;
	display: block;	
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.0), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
/* CARDS KANBAN */
.card {
	width: 30%;
	height: 250px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.0), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	text-align: left;
	display: inline-block;
	margin: 10px;
	box-sizing: border-box;
}
.card span:first-child{	
	width: 20px;
	height: 20px;
	padding: 4px;
	text-align: center;
	background-color: #fff;	
	border-bottom: 1px solid #ccc;
	border-radius: 50%;
	display: inline-block;
	vertical-align: middle;
	box-shadow: inset 0 4px 8px 0 rgba(0, 0, 0, 0.0);

}
/* CARDS KANBAN TITLE */
.card_title{
	width: 100vw; /* only change is here "%" to "vw" ! */
    height: 50px;
	color: #363636;
	font-weight:bold;
	display: table-cell;
	vertical-align: middle;
	text-align: left;
	padding-left: 10px;
	padding-right: 10px;
}
.title_to_do{	
	background: #fcc;
}
.title_to_do span:last-child{	
	width: 20px;
	height: 20px;
	padding: 4px;
	color:#ffb6c1;
	text-align: center;
	background-color: #fff0f5;	
	border-bottom: 1px solid #ccc;
	border-radius: 50%;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.0);	
	display: inline-block;
	vertical-align: middle;
	float:right;
}
.title_in_progress {
	background: #ffc;
}
.title_done{
	background: #cfc;
}
.card_body {
	width: 100%;
	height: 200px;
	overflow-y: scroll;		
	overflow-x: none;	
	-ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;  /* Firefox */
}
.card_body::-webkit-scrollbar { 
    display: none;  /* Safari and Chrome */
}
.card_to_do {
	background: #fff0f5;
	background-image: linear-gradient(to right, #ffffff, #fcc);
}
.card_in_progress {
	background: #fffff0;
	background-image: linear-gradient(to right, #ffffff, #ffc);
}
.card_done{
	background: #f0fff0;
	background-image: linear-gradient(to right, #ffffff, #cfc);
}
.activity {
	font-size: 12px;
	text-align: justify;
	padding: 10px;
	border:1px solid #ccc;
	border-radius: 0 5px 5px 0;
	margin: 5px;
	color: #000;
	cursor: move;
}
.activity_to_do {	
	border-left: 5px solid #ffb6c1;
	background: #fff0f5;
}
.activity_in_progress {	
	border-left: 5px solid #f0e68c;
	background: #fffff0;
}
.activity_done{	
	border-left: 5px solid #90ee90;
	background: #f0fff0;
}
.activity:hover{
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.0), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	background:#ffffff;
	transition: 1s all;
	transform: scale(1.0);
	transform: translateX(-1px);
}
.activity_default, .activity:active{
	background:#ecebeb;
	border-left: 5px solid #808080;
	background-image: -webkit-repeating-radial-gradient(center center, rgba(0,0,0,.2), rgba(0,0,0,.2) 1px, transparent 1px, transparent 100%);
	background-image: -moz-repeating-radial-gradient(center center, rgba(0,0,0,.2), rgba(0,0,0,.2) 1px, transparent 1px, transparent 100%);
	background-image: -ms-repeating-radial-gradient(center center, rgba(0,0,0,.2), rgba(0,0,0,.2) 1px, transparent 1px, transparent 100%);
	background-image: repeating-radial-gradient(center center, rgba(0,0,0,.2), rgba(0,0,0,.2) 1px, transparent 1px, transparent 100%);
	-webkit-background-size: 3px 3px;
	-moz-background-size: 3px 3px;
	background-size: 3px 3px;
}


/* LATEST ACTIVITIES */
.profile_latest_activities {
	width: 100%;
	background: #fff;
	background-image: linear-gradient(to right, #ffffff, #DCDCDC);
	margin-top: 20px;
	display: inline-block;	
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.0), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.last_activity{
	height: 100px;
	font-size: 12px;
	text-align: left;
	color: #000;
	background: #fff;
	border: 1px solid #ccc;
	margin: 20px;	
	overflow-y: scroll;
	overflow-x: hidden; 		
}
.last_activity_body {	
	width: auto;
	height: auto;
	padding:5px;
	text-align: justify;	
	border-bottom: 1px dashed #ccc;
	display: block;
	vertical-align: middle;
}
.last_activity_body span:first-child{	
	width: 15px;
	height: 15px;
	padding: 3px;	
	font-size: 12px;	
	font-weight:bold;
	text-align: center;
	background-color: #fff;	
	border-bottom: 1px solid #ccc;
	border-radius: 50%;
	display: inline-block;
	vertical-align: middle;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.0);
}
.last_activity_body span:last-child{	
	margin-left: 10px;
}
.last_activity_body strong{	
	color: #727376;
}

/* FOOTER */
footer{
	height: 50px;
	margin-top: 20px;
	background:#ccc;
	color: #727376;
	text-align: center;
	background-image: linear-gradient(to top, #ccc, #c0c0c0);
	padding: 20px;
	vertical-align: middle;
}
.copyright{	
	margin-top: 20px;
	font-size: 12px;
	display: inline-block;
}
.by{	
	display: block;
	float: right;
}
.logo_by{
	width: 80px;
}

/* MOBILE */
@media screen and (max-width: 480px) {

			.container, header, main, footer{
		        width: auto;
		        height: auto;	  
		    }

			.profile_photo{
				width: 150px;
				height: 150px;
				padding: 5px;
				background: #fff;
				position: relative;
				display: inline-block;
				float: none;
			}
			.profile_photo img{
				width: 100%;
				height: 100%;
				background: #fff;
			}

			.profile_informations{				
				width: 100vw;
				height: auto;
				padding: 20px;
				color: #363636;
				background: #ffffff;
				background-image: linear-gradient(to right, #ffffff, #ccc);
				text-align: center;
				display: table-cell;
				vertical-align: middle;
			}
			.profile_informations ul{
				width:100%;
				list-style-type: none;
				text-transform: none;
				text-align: center;
				margin:0 auto;
			}
			.list_profile{
				display: inline-block;
			}
			.label_name{
				font-weight: bold;
			}
			.name{
				color: #000000;
			}
			.label_social_network{
				font-weight: bold;
			}
			.list_social_network{
				list-style-type: none;
				text-transform: none;
				display: inline;
				float: none;
			}
			.item_social_network{
				text-align: left;
				display: inline;
			}

		    .item_social_network span{
		    	display: none;
		    }
		    .profile_latest_activities{
		   		padding-bottom: 10px;
		    }
		    .profile_frame_kanban, .profile_latest_activities { 
		   		width: 100%; 
		   		text-align: center;    	 		
		   		display:inline-block;
		    }
		    .card, .last_activity{
		    	width: 90%;
		    	margin: 0 auto;
		    	margin-bottom: 20px;
		    	display: block;
		    }
		    .last_activity{
				height: 200px;
			}

			footer{
				height: auto;
				margin-top: 20px;
				background:#ccc;
				color: #727376;
				text-align: center;
				background-image: linear-gradient(to top, #ccc, #c0c0c0);
				padding: 20px;
				vertical-align: middle;
			}
			.copyright{	
				margin-top: 20px;
				font-size: 12px;
				display: block;
			}
			.by{	
				display: inline;
				float: none;
			}
			.logo_by{
				width: 80px;
			}
}