html {
	background-color: #FEE;
}

body {
	font-size: 1.3em;
	padding: 1%;
}

nav {
	background-color: #FFD4D4;
	margin: .5em;
	padding: 1em;
	text-align: center;
}

nav li {
	display: inline;
	margin-left: 2em;
}

nav a {
	color: #000;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 1.4em;
	text-decoration: none;
}

nav a:hover {
	color: #00E;
	text-decoration: underline;
}

nav a:visited {
	color: #009;
}

header {
	background-color: #FFD4D4;
	margin: 0.5em;
	height: 12em;
}

.h3_01 {
	font-weight: bold;
	margin: 1% 0 .1% 0;
}

.foto {
	margin: 0 1em ;
    display: inline-block;
    float: left;
}

#minha_foto {
	width: 8.5em;
    height: 8.5em;
    border-radius: 5em;
}

.informacoes {
	width: 25em;
    height: 8.5em;
    margin: 1em;
    display: inline-block;
    float: left;
}

h1 {
	text-align: center;
	font-size: 2em;
	font-weight: bolder;
}

h2 {
	font-size: 1.6em;
	font-weight: bolder;
	margin-bottom: .3em;
}

article {
	background-color: #FEF;
}

main {
	background-color: #FFD4D4;
	padding: 1em;
	margin: 0.5em;
}

.kanbam {
	display: inline-block;	
	width: 30%;
	height: 12em;
	margin: 1%;
	padding: 2% 2%;
	box-sizing: border-box;
	border: .2em dotted #000;
	overflow-y: scroll;
}

#fazer {
	background-color: #F00;
}

#fazendo {
	background-color: #FF0;
}

#feitas {
	background-color: #0F0;
}

.h3_02 {
	font-size: 1.2em;
	font-weight: bold;
	margin: 0 0 5% 0;
}

.formacoes {
	border: .1em dotted #000;
	border-radius: .2em;
	margin: .15em;
	padding: .15em;
}

footer {
	background-color: #FFD4D4;
	margin: 0.5em;
	height: 4em;
	padding: 1em;
}

.copyright {
	font-size: 0.8em;
}
