//Cores
	//Fundos
	$cor_de_fundo: #FEE;
	$cor_das_partes_fundo: #FFD4D45C;
    $cor_fundo_artigo:#FEF;
    
    //Links
    $cor_mouse_por_cima_link:#00E;
    $cor_link_visitado: #009;
    
    //Itens
    $cor_borda_itens: #000;

//Fontes
$fonte_familia_titulo: 'Lato', sans-serif;
$fonte_familia_texto: 'Cookie', cursive;