.skills{
    background: $bg-skills;
    background-image: url('../img/bg-skill.jpg');
    background-repeat: no-repeat;
    background-size: auto;
    background-position: 0% 30% 30% 30% cover;
    color: $title-skills;
    .progress{
        border:0.1em solid #6b6a6a;
        border-top:0;
    }
}